body {
font-family: calibra, verdana, sans-serif;
width:90%;
text-align:center;
background-color: #002060;
}

.h1 {
color: white;
}

.h3 {
color: white;
text-align: center;
}

.h5 {
color: white;
text-align: left;
}
.column1 {
width:25%;
margin:1%;
float:left;
height:570px;
box-sizing:border-box;
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
text-align: left;
}

.column2, .column3 {
width:70%;
margin:1%;
float:left;
height:570px;
box-sizing:border-box;
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
text-align: left;
}
.content {
overflow:auto;
}

#navigation ul li {
position:relative;
}

#navigation li a {
text-decoration:none;
color:#fff;
}

#navigation li:hover a {
color: #C00000;
}

#navigation li a:hover {
text-decoration: underline;
color: #COOOOO;
}

#navigation ul li {
list-style:none;
color:white;
}

