body {
font-family: calibra, verdana, sans-serif;
width:90%;
text-align:center;
color: white;
background-color: #002060;
}

.h1 {
text-aling:center;
color: white;
}

.h2 {
text-aling: center;
color: white;
}

#feature {
background-color: #002060;
height:50px;
color: #002060;
}

#footer {
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
padding:10px;
margin:10px;
box-sizing:border-box;
}

li{
display:inline;
padding:5px;
}

.column1 {
background-color:#002060;
width:29%;
margin:10px;
height:330px;
box-sizing:border-box;
color: #002060;
}

.column3 {
background-color: #002060;
text-align: left;
width: 90%;
margin: 10%;
float:
height: 250px;
box-sizing:
}

.content {
overflow:auto;
}

#navigation {
width:100%;
height:25px;
text-align: center;
}

#navigation ul {
margin: 0;
padding:0;
}

#navigation ul li {
display:inline;
height:25px;
list-style:none;
color:white;
margin-left:8%;

}

#navigation li ul {
display:none;
margin:0;
padding:0;
}

#navigation li:hover ul {
display:block;
width:150px;
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
}

#navigation ul li {
position:relative;
}

#navigation li ul {
position: absolute;
left:10;
top:25px;
}

#navigation li ul li {
margin-left : 10px;
}

#navigation li a {
text-decoration:none;
color:#fff;
}

#navigation li:hover a {
color: #C00000;
}

#navigation li a:hover {
text-decoration: underline;
color: #COOOOO;
}