body {
font-family: calibra, verdana, sans-serif;
width:90%;
background-color: #002060;
}

.h1 {
color: #C00000;
text-align: center;
}


.h3 {
color: white;
text-align: center;
}

.h5 {
color: white;
text-align: left;
}
.column1, .column2, .column3, .column4 {
width:47%;
margin:10px;
float:left;
height:500px;
box-sizing:border-box;
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
}

.content {
overflow:auto;
}