body {
font-family: calibra, verdana, sans-serif;
width:90%;
background-color: #002060;
}

.h1 {
color: white;
text-align: center;
}

.h5 {
text-align: left;
}

.music1, .music2, .music3 {
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
width:25%;
margin:35px;
float:left;
height:200px;
color: white;
box-sizing:border-box;
}

.column1, .column2, .column3 {
border-style: solid;
border-width: 1.5px;
border-color: #C00000;
width:31%;
margin:10px;
float:left;
height:300px;
color: white;
box-sizing:border-box;
}

.content {
overflow:auto;
}